<div class="container">
    <%= link_to "Clique aqui para ver a lista com fotos", (url_for(:item, :index) + "/" + @request.env["router.params"][:permalink].to_s) %>
  <br><br>
  <ul>
    <% @items.each do |item| %>
    <li>
        <% if item.status_id && item.status_id < 3 then %>
          <a href="/items/show/<%= item.permalink %>">
            <%= item.title %> - R$<%= item.price %> - <%= ItemStatus.find_by_id(item.status_id).name %>
          </a>
        <% end %>
    </li>
    <% end %>
  </ul>
</div>
